@inject IProductService ProductService
<h3>ProductList</h3>
<h1>Product list heheh2e</h1>

@if (ProductService.products == null || ProductService.products.Count ==0)
{
    <span>Loading products...</span>
}else{

<ul class='list-unstyled'> 
    @foreach (var product in ProductService.products)
    {
        <li class='media my-3'>
            <div class='media-img-wrapper mr-2'>
                <a href='/product/@product.Id'>
                    <img class='img-fluid' src="@product.ImageUrl" alt="@product.Name"/>

                </a>
            </div>
            <div class='media-body'>
                <a href='/product/@product.Id'>
                  <h4 class='mb-0'>  @product.Name</h4>
                </a>
                <p>@product.Description</p>
                <h5 class='price'>@product.Price KM</h5>
            </div>
        </li>
    }
</ul>}



@code {
    //https://localhost:7280/api/product

    protected override async Task OnInitializedAsync()
    {
        await ProductService.GetProducts();
    }
    }

}
